<head>
</head>
<body>
<h2>alerts</h2>
<table border="1">
<tr><td>
<h2>alert</h2>
<table border="1">
<tr><td>
sourceid</td><td>
3</td></tr>
<tr><td>
other</td><td>
</td></tr>
<tr><td>
method</td><td>
POST</td></tr>
<tr><td>
evidence</td><td>
Set-Cookie: JSESSIONID</td></tr>
<tr><td>
pluginId</td><td>
10010</td></tr>
<tr><td>
cweid</td><td>
16</td></tr>
<tr><td>
confidence</td><td>
Medium</td></tr>
<tr><td>
wascid</td><td>
13</td></tr>
<tr><td>
description</td><td>
A cookie has been set without the HttpOnly flag, which means that the cookie can be accessed by JavaScript. If a malicious script can be run on this page then the cookie will be accessible and can be transmitted to another site. If this is a session cookie then session hijacking may be possible.</td></tr>
<tr><td>
messageId</td><td>
1</td></tr>
<tr><td>
url</td><td>
http://webgoat:8080/WebGoat/login</td></tr>
<tr><td>
reference</td><td>
http://www.owasp.org/index.php/HttpOnly</td></tr>
<tr><td>
solution</td><td>
Ensure that the HttpOnly flag is set for all cookies.</td></tr>
<tr><td>
alert</td><td>
Cookie No HttpOnly Flag</td></tr>
<tr><td>
param</td><td>
JSESSIONID</td></tr>
<tr><td>
attack</td><td>
</td></tr>
<tr><td>
name</td><td>
Cookie No HttpOnly Flag</td></tr>
<tr><td>
risk</td><td>
Low</td></tr>
<tr><td>
id</td><td>
0</td></tr>
</table>
</td></tr>
<tr><td>
<h2>alert</h2>
<table border="1">
<tr><td>
sourceid</td><td>
3</td></tr>
<tr><td>
other</td><td>
The origin domain used for comparison was: 
webgoat
JSESSIONID=q1PZ3iYFwcgihOWFa_3ni45SRWq0MrSoSem-kurv
</td></tr>
<tr><td>
method</td><td>
POST</td></tr>
<tr><td>
evidence</td><td>
</td></tr>
<tr><td>
pluginId</td><td>
90033</td></tr>
<tr><td>
cweid</td><td>
565</td></tr>
<tr><td>
confidence</td><td>
Low</td></tr>
<tr><td>
wascid</td><td>
15</td></tr>
<tr><td>
description</td><td>
Cookies can be scoped by domain or path. This check is only concerned with domain scope.The domain scope applied to a cookie determines which domains can access it. For example, a cookie can be scoped strictly to a subdomain e.g. www.nottrusted.com, or loosely scoped to a parent domain e.g. nottrusted.com. In the latter case, any subdomain of nottrusted.com can access the cookie. Loosely scoped cookies are common in mega-applications like google.com and live.com. Cookies set from a subdomain like app.foo.bar are transmitted only to that domain by the browser. However, cookies scoped to a parent-level domain may be transmitted to the parent, or any subdomain of the parent.</td></tr>
<tr><td>
messageId</td><td>
1</td></tr>
<tr><td>
url</td><td>
http://webgoat:8080/WebGoat/login</td></tr>
<tr><td>
reference</td><td>
https://tools.ietf.org/html/rfc6265#section-4.1
https://www.owasp.org/index.php/Testing_for_cookies_attributes_(OTG-SESS-002)
http://code.google.com/p/browsersec/wiki/Part2#Same-origin_policy_for_cookies</td></tr>
<tr><td>
solution</td><td>
Always scope cookies to a FQDN (Fully Qualified Domain Name).</td></tr>
<tr><td>
alert</td><td>
Loosely Scoped Cookie</td></tr>
<tr><td>
param</td><td>
</td></tr>
<tr><td>
attack</td><td>
</td></tr>
<tr><td>
name</td><td>
Loosely Scoped Cookie</td></tr>
<tr><td>
risk</td><td>
Informational</td></tr>
<tr><td>
id</td><td>
1</td></tr>
</table>
</td></tr>
<tr><td>
<h2>alert</h2>
<table border="1">
<tr><td>
sourceid</td><td>
3</td></tr>
<tr><td>
other</td><td>
</td></tr>
<tr><td>
method</td><td>
POST</td></tr>
<tr><td>
evidence</td><td>
Set-Cookie: JSESSIONID</td></tr>
<tr><td>
pluginId</td><td>
10054</td></tr>
<tr><td>
cweid</td><td>
16</td></tr>
<tr><td>
confidence</td><td>
Medium</td></tr>
<tr><td>
wascid</td><td>
13</td></tr>
<tr><td>
description</td><td>
A cookie has been set without the SameSite attribute, which means that the cookie can be sent as a result of a 'cross-site' request. The SameSite attribute is an effective counter measure to cross-site request forgery, cross-site script inclusion, and timing attacks.</td></tr>
<tr><td>
messageId</td><td>
1</td></tr>
<tr><td>
url</td><td>
http://webgoat:8080/WebGoat/login</td></tr>
<tr><td>
reference</td><td>
https://tools.ietf.org/html/draft-ietf-httpbis-cookie-same-site</td></tr>
<tr><td>
solution</td><td>
Ensure that the SameSite attribute is set to either 'lax' or ideally 'strict' for all cookies.</td></tr>
<tr><td>
alert</td><td>
Cookie Without SameSite Attribute</td></tr>
<tr><td>
param</td><td>
JSESSIONID</td></tr>
<tr><td>
attack</td><td>
</td></tr>
<tr><td>
name</td><td>
Cookie Without SameSite Attribute</td></tr>
<tr><td>
risk</td><td>
Low</td></tr>
<tr><td>
id</td><td>
2</td></tr>
</table>
</td></tr>
<tr><td>
<h2>alert</h2>
<table border="1">
<tr><td>
sourceid</td><td>
3</td></tr>
<tr><td>
other</td><td>
No known Anti-CSRF token [anticsrf, CSRFToken, __RequestVerificationToken, csrfmiddlewaretoken, authenticity_token, OWASP_CSRFTOKEN, anoncsrf, csrf_token, _csrf, _csrfSecret] was found in the following HTML form: [Form 1: &quot;exampleInputEmail1&quot; &quot;exampleInputPassword1&quot; ].</td></tr>
<tr><td>
method</td><td>
GET</td></tr>
<tr><td>
evidence</td><td>
&lt;form action=&quot;/WebGoat/login&quot; method='POST' style=&quot;width: 200px;&quot;&gt;</td></tr>
<tr><td>
pluginId</td><td>
10202</td></tr>
<tr><td>
cweid</td><td>
352</td></tr>
<tr><td>
confidence</td><td>
Medium</td></tr>
<tr><td>
wascid</td><td>
9</td></tr>
<tr><td>
description</td><td>
No Anti-CSRF tokens were found in a HTML submission form.
A cross-site request forgery is an attack that involves forcing a victim to send an HTTP request to a target destination without their knowledge or intent in order to perform an action as the victim. The underlying cause is application functionality using predictable URL/form actions in a repeatable way. The nature of the attack is that CSRF exploits the trust that a web site has for a user. By contrast, cross-site scripting (XSS) exploits the trust that a user has for a web site. Like XSS, CSRF attacks are not necessarily cross-site, but they can be. Cross-site request forgery is also known as CSRF, XSRF, one-click attack, session riding, confused deputy, and sea surf.

CSRF attacks are effective in a number of situations, including:
    * The victim has an active session on the target site.
    * The victim is authenticated via HTTP auth on the target site.
    * The victim is on the same local network as the target site.

CSRF has primarily been used to perform an action against a target site using the victim's privileges, but recent techniques have been discovered to disclose information by gaining access to the response. The risk of information disclosure is dramatically increased when the target site is vulnerable to XSS, because XSS can be used as a platform for CSRF, allowing the attack to operate within the bounds of the same-origin policy.</td></tr>
<tr><td>
messageId</td><td>
4</td></tr>
<tr><td>
url</td><td>
http://webgoat:8080/WebGoat/login?error</td></tr>
<tr><td>
reference</td><td>
http://projects.webappsec.org/Cross-Site-Request-Forgery
http://cwe.mitre.org/data/definitions/352.html</td></tr>
<tr><td>
solution</td><td>
Phase: Architecture and Design
Use a vetted library or framework that does not allow this weakness to occur or provides constructs that make this weakness easier to avoid.
For example, use anti-CSRF packages such as the OWASP CSRFGuard.

Phase: Implementation
Ensure that your application is free of cross-site scripting issues, because most CSRF defenses can be bypassed using attacker-controlled script.

Phase: Architecture and Design
Generate a unique nonce for each form, place the nonce into the form, and verify the nonce upon receipt of the form. Be sure that the nonce is not predictable (CWE-330).
Note that this can be bypassed using XSS.

Identify especially dangerous operations. When the user performs a dangerous operation, send a separate confirmation request to ensure that the user intended to perform that operation.
Note that this can be bypassed using XSS.

Use the ESAPI Session Management control.
This control includes a component for CSRF.

Do not use the GET method for any request that triggers a state change.

Phase: Implementation
Check the HTTP Referer header to see if the request originated from an expected page. This could break legitimate functionality, because users or proxies may have disabled sending the Referer for privacy reasons.</td></tr>
<tr><td>
alert</td><td>
Absence of Anti-CSRF Tokens</td></tr>
<tr><td>
param</td><td>
</td></tr>
<tr><td>
attack</td><td>
</td></tr>
<tr><td>
name</td><td>
Absence of Anti-CSRF Tokens</td></tr>
<tr><td>
risk</td><td>
Low</td></tr>
<tr><td>
id</td><td>
3</td></tr>
</table>
</td></tr>
</table>
</body>
